@charset "utf-8";

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {color: #555;background: #fff;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;text-rendering: optimizelegibility;}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {margin: 0;padding: 0;}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, footer, header, hgroup, menu, nav, section {display: block;}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {display: inline-block;*display: inline;*zoom: 1;}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {font:500 14px/1.8 Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei,sans-serif;}

/* 去掉各Table  cell 的边距并让其边重合 */
table {border-collapse: collapse;border-spacing: 0;}

/* IE bug fixed: th 不继承 text-align*/
th {text-align: inherit;}

/* 去除默认边框 */
fieldset, img {border: 0;}

/* 解决 IE6-7 图片缩放锯齿问题 */
img {-ms-interpolation-mode: bicubic;}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {display: block;}

/* 块/段落引用 */
blockquote {margin: 1em 0;padding: 0.6em 1em;background: #f9f9f9;border-left: 0.4em solid #ddd;}
blockquote blockquote {padding: 0 0 0 1em;margin-left: 2em;}

/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr {border-bottom: 1px dotted;font-variant: normal;}

/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr {cursor: help;}

/* 一致的 del 样式 */
del {text-decoration: line-through;}
address, caption, cite, code, dfn, em, th, var {font-style: normal;font-weight: 400;}

/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul, ol {list-style: none;}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {text-align: left;}
q:before, q:after {content: '';}

/* 统一上标和下标 */
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: text-top\9;}
:root sub, :root sup{vertical-align: baseline; /* for ie9 and other mordern browsers */}
sup {top: -0.8em;}
sub {bottom: -0.3em;}

/* 让链接在 hover 状态下显示下划线 */
a:hover {text-decoration: underline;}

/* 默认不显示下划线，保持页面简洁 */
ins, a {text-decoration: none;}

/* 专名号：虽然 u 已经重回 html5 Draft，但在所有浏览器中都是可以使用的，
 * 要做到更好，向后兼容的话，添加 class="typo-u" 来显示专名号
 * 关于 <u> 标签：http://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-u-element
 * 被放弃的是 4，之前一直搞错 http://www.w3.org/TR/html401/appendix/changes.html#idx-deprecated
 * 一篇关于 <u> 标签的很好文章：http://html5doctor.com/u-element/ 
 */
u, .typo-u {text-decoration: underline;}

/* 标记，类似于手写的荧光笔的作用 */
mark {background: #fffdd1;}

/* 代码片断 */
code {border:1px dashed #eee;color:#27ae60;padding:0 3px;}
pre, code {font-family: Inconslata, Consolas, Courier, Courier New, monospace;white-space: pre-wrap;word-wrap: break-word;}
pre {background:#f9f9f9;padding:10px 15px;line-height:1.36;color:#555;text-shadow:1px 1px 1px #fff;}

/* 底部印刷体、版本等标记 */
small, .typo-small, .small,

    /* 图片说明 */
figcaption {font-size:12px;color: #888;}

/* 去除 IE6 input/button 多余的空白 */
button, input {*width: auto;*overflow: visible;line-height:22px; /* 让 input 和 button 一样高 */ }

/* input */
textarea{resize:none;min-height:100px;}
label input{margin-right:3px;}
.input{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;height:32px;*height:28px;vertical-align:middle;}
.input{border:2px solid #ddd;background:#fff;padding:3px 5px;*padding:0;}
.input:focus, input.focus{border-color:#51b4ff;background:#fff;}
.input.error, input.error, .error .input{border-color:#ec5524;}
textarea.input{/*-moz-box-sizing:inherit;-webkit-box-sizing:inherit;box-sizing:inherit;*/height:auto;vertical-align:text-top;}


a{color:#0088C8;}
a:hover{ text-decoration:underline;}
/* 一致化 horizonal rule */
hr{border:none;border-bottom:1px solid #cfcfcf;margin-bottom:10px;*color:pink;*filter:chroma(color=pink);height:10px;*margin:-7px 0 2px;}

.fn-clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
.fn-clearfix {zoom:1; }
/* lay
 * author: runkingzhang@163.com
 */
body {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;line-height: 18px;font-size: 13px;color: #333;}
.lay-body{background-color:#C0DEED;}
.lay-header{width:100%;height:40px;
					background:-webkit-gradient(linear,left top,left bottom,from(#262626),to(#1a1a1a));
background:-moz-linear-gradient(top,#262626,#1a1a1a);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#1a1a1a');
background:-o-linear-gradient(top,#262626,#1a1a1a);
background:linear-gradient(top,#262626,#1a1a1a);

					box-shadow:0 0 5px rgba(0,0,0,0.5);font-family:"Helvetica Neue",Arial,"Microsoft Yahei",sans-serif;margin:0 0 10px;}
.lay-content{width:950px;margin:0 auto;}
.lay-container{background:url(../images/clouds.png) no-repeat scroll -660px -350px rgba(0,0,0,0);}
.lay-footer{width:100%;color:#777;font-family:"Helvetica Neue",Arial,"Microsoft Yahei",sans-serif;padding:30px 0 ;}


/* mod-search
 * author: runkezhang@163.com
 */
.search{position:relative;width:400px;height:28px;border:2px solid #ed5624;background:#fff;border-radius:1px;display:inline-block;_display:inline;_zoom:1;}
.search .input{width:100%;*width:76%;*display:inline;overflow:hidden;padding-right:35px;height:28px;border:none;background:none;font-size:12px;position:absolute;top:0;*top:3px;}
.search .icon-search{display:block;width:28px;padding-left:4px;background:#ed5624;line-height:28px;text-align:center;color:#fff;}
.search .icon-search, .search-trigger{display:block;height:28px;position:absolute;right:0;top:0;}
.search .search-trigger{width:28px;opacity:0;filter:alpha(opacity=0);}
.search-short{width:176px;}
.search-short input{*width:100px;}

.mod-search{position:relative;width:200px;height:26px;border:1px solid #141414; overflow:hidden;background:#4E4E4E;border-radius:3px;display:inline-block;_display:inline;_zoom:1; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #2A2A2A;transition: all 0.2s linear 0s;}
.mod-search-text{width:100%;*width:76%;*display:inline;overflow:hidden;padding-left:20px;height:26px;border:none;background:none;font-size:12px;position:absolute;top:0;*top:3px;}
.mod-search-text:focus{background:#FFF; border:none;}
.icon-search, .mod-search-trigger{display:block;height:14px;position:absolute;left:3px;top:5px;}
.icon-search{display:block; width:14px;height:14px;background:url(../images/topbar.png) no-repeat scroll 0 -60px; line-height:14px;text-align:center;}
.mod-search-trigger{width:14px;opacity:0;filter:alpha(opacity=0);}













